.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow-x: hidden;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
  .head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #ffffff;
    align-items: center;

    @media only screen and (max-width: 768px) {
      height: 60px;
    }
    .headContainer {
      display: flex;
      width: 77.1%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        width: 128px;
        height: 42px;

        @media only screen and (max-width: 768px) {
          width: 99px;
          height: 32px;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        button {
          display: flex;
          width: 100px;
          height: 40px;
          justify-content: center;
          align-items: center;
          color: #4b9ce2;
          background: #f0f8ff 0% 0% no-repeat padding-box;
          border: none;
          border-radius: 8px;
          font: normal normal bold 15px/20px Nunito;
          cursor: pointer;
        }
      }
    }
  }
  .main {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    box-sizing: border-box;

    .placard {
      width: 77.1%;
      display: flex;
      justify-content: center;
      margin: 0px 11.5%;
      margin-top: 20px;
    }

    .category {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;

      .categoryContainer {
        display: flex;
        width: 77.1%;
        height: 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;

        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        gap: 10px;

        .choice {
          display: flex;
          height: 40px;
          font-size: 18px;
          font-weight: 440;
          cursor: pointer;
        }
        .active {
          display: flex;
          border-bottom: 2px solid #4b9ce2;
          color: #4b9ce2;
        }
      }
      .categoryContainer::-webkit-scrollbar {
        display: none;
      }
    }
    .content {
      width: 77.1%;
      margin: 0 auto 0;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 100px;
      .productElements {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(18.6839%, 1fr));
        column-gap: 20px;
        row-gap: 20px;

        @media only screen and (max-width: 1200px) {
          & {
            grid-template-columns: repeat(3, minmax(18.6839%, 1fr));

            row-gap: 10px;
            column-gap: 10px;
          }
        }

        @media only screen and (max-width: 768px) {
          & {
            grid-template-columns: repeat(2, minmax(18.6839%, 1fr));

            row-gap: 10px;
            column-gap: 10px;
          }
        }
        @media only screen and (max-width: 600px) {
          & {
            grid-template-columns: repeat(1, minmax(18.6839%, 1fr));

            row-gap: 10px;
            column-gap: 10px;
          }
        }

        .productElement {
          background-color: #ffffff;
          border-radius: 8px;
          width: 100%;
          cursor: pointer;

          .productElementImage {
            display: flex;
            flex-direction: row;
            margin: 10px;
            width: 90%;
            height: 297px;
            .img {
              width: 100%;
              height: auto;
              object-fit: contain;
            }
            .notFoundImage {
              width: 100%;
              height: auto;
              object-fit: cover;
              object-position: center;
            }
          }
          .productElementDetail {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;

            .productElementText {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;

              .brand {
                display: flex;
                letter-spacing: 0px;
                color: #4b9ce2;
                opacity: 1;
                padding-left: 10px;
              }
              .color {
                display: flex;
                letter-spacing: 0px;
                color: #3e3e3e;
                opacity: 1;
                padding-right: 10px;
              }
            }
            .price {
              display: flex;
              text-align: center;
              width: 216px;
              text-align: left;
              letter-spacing: 0px;
              color: #3e3e3e;
              opacity: 1;
              padding-left: 10px;
              margin-top: 26px;
              font-weight: bold;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
